openapi: 3.0.0
servers:
  - url: 'https://www.tirp2.axnavi.com/calendar/api/REQ_FULL_CALENDAR_GET_FULL_CALENDAR'
info:
  title: WorkFlow API Reference
  version: '1.0'
tags:
  - name: WorkFlow API
paths:
  "/":
    post:
      summary: Get instances workflow
      tags:
        - WorkFlow API
      security:
      - ClientAuthOAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                c_reqkind:
                  type: string
                reqData:
                  type: object
                  properties:
                    adapteeId:
                      type: string
                    i_endtime:
                      type: number
                    i_starttime:
                      type: number
                    i_site_code:
                      type: string
                    eventkind:
                      type: array
                      items:
                        type: object
                        properties:
                          i_eventkind:
                            type: number
                          c_source:
                            type: string
                          c_starttime:
                            type: string
                          c_endtime:
                            type: string
                          c_endcycle:
                            type: string
                          c_startcycle:
                            type: string
                          c_templateid:
                            type: string
                          columns:
                            type: array
                            items:
                              type: string
            example:
              c_reqkind: GET_DATA
              reqData:
                adapteeId: dfw
                i_endtime: 1618074000000
                i_starttime: 1614445200000
                i_site_code: "kyuden-honten"
                eventkind: [{
                  i_eventkind: 2,
                  c_source: "ft_bindb_instruction_list",
                  c_starttime: "i_start_time",
                  c_endtime: "i_end_time",
                  c_endcycle: "i_end_cycle",
                  c_startcycle: "i_start_cycle",
                  c_templateid: "i_template_id",
                  columns: ["c_name", "i_start_time", "i_end_time", "i_type", "i_end_cycle", "i_start_cycle", "i_template_id", "id", "c_sheet_format_id", "c_rdspp", "c_rdspp_num", "c_rdspp_name"]
                }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  c_reqkind:
                    type: string
                  sts:
                    type: boolean
                  err:
                    type: object
                  result:
                    type: object
                    properties:
                      latesttime:
                        type: string
                      c_eventkind_column:
                        type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            i_type:
                              type: number
                            c_name:
                              type: string
                            c_rdspp:
                              type: string
                            c_sheet_format_id:
                              type: number
                            i_start_time:
                              type: number
                            i_end_time:
                              type: number
                            i_template_id:
                              type: number
                            i_time:
                              type: number
                            i_start_cycle:
                              type: number
                            i_end_cycle:
                              type: number
                            i_cycle_type:
                              type: number
                            b_allday:
                              type: boolean
                      
                      
        "500":
          description: Internal Server
  "/{id}":
    post:
      summary: Create a instance for workflow
      tags:
        - WorkFlow API
      security:
        - ClientAuthOAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                c_reqkind:
                  type: string
                reqData:
                  type: object
                  properties:
                    adapteeId:
                      type: string
                    eventData:
                      type: object
                      properties:
                        type:
                          type: number
                        name:
                          type: string
                        start:
                          type: number
                        end:
                          type: number
                        siteCode:
                          type: string
                        cycleType:
                          type: number
                        startCycle:
                          type: number
                        endCycle:
                          type: number
                        sheetFormatId:
                          type: number
                        rdspp:
                          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  c_reqkind:
                    type: string
                  sts:
                    type: boolean
                  err:
                    type: object
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
        "500":
          description: Internal Server
    patch:
      summary: Update a instance of workflow
      description: |
        Currently, only support updating file metadata due to the limitation of Habanerots File API.
      tags:
        - WorkFlow API
      security:
        - ClientAuthOAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                c_reqkind:
                  type: string
                reqData:
                  type: object
                  properties:
                    adapteeId:
                      type: string
                    eventData:
                      type: object
                      properties:
                        type:
                          type: number
                        name:
                          type: string
                        start:
                          type: number
                        end:
                          type: number
                        siteCode:
                          type: string
                        cycleType:
                          type: number
                        startCycle:
                          type: number
                        endCycle:
                          type: number
                        sheetFormatId:
                          type: number
                        rdspp:
                          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  c_reqkind:
                    type: string
                  sts:
                    type: boolean
                  err:
                    type: object
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
        "500":
          description: Internal Server
                    
    delete:
      summary: Delete a instance of workflow
      tags:
        - WorkFlow API
      security:
        - ClientAuthOAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server
components:
  schemas:
    workflow:
      type: object
      properties:
        id:
          type: number
        c_name_service:
          type: string
        c_url:
          type: string
        i_type:
          type: number
        c_comment:
          type: string
        c_ui_class_json:
          type: object
          properties:
            height: 
              type: number
            width: 
              type: number
            component:
              type: object
              properties:
                configure:
                  type: object
                name:
                  type: string
  securitySchemes:
    ClientAuthOAuth2:
      type: oauth2
      description: |-
        クライアントアプリケーション向けの認証方法。

        OAuth2で取得したアクセストークンを用い、以下のようにAuthorization ヘッダにアクセストークンを指定します。

        詳細はRFC6750を参照してください。

        ```
        Authorization: Bearer <アクセストークン>
        ```
      flows:
        implicit:
          authorizationUrl: 'https://idp.habanerots-common.tirp2.axnavi.com/authorize'
          scopes:
            openid: OpenID Connectを利用する際に用いる
            email: OpenID Connect利用時に、email および email_verified Claim へのアクセス要求に用いる
            profile: >-
              OpenID Connect利用時に、ユーザのデフォルトプロフィール Claim （name, locale,
              updated_atなど）へのアクセス要求に用いる
        authorizationCode:
          authorizationUrl: 'https://idp.habanerots-common.tirp2.axnavi.com/authorize'
          tokenUrl: 'https://idp.habanerots-common.tirp2.axnavi.com/authorize'
          scopes:
            openid: OpenID Connectを利用する際に用いる
            email: OpenID Connect利用時に、email および email_verified Claim へのアクセス要求に用いる
            profile: >-
              OpenID Connect利用時に、ユーザのデフォルトプロフィール Claim （name, locale,
              updated_atなど）へのアクセス要求に用いる
